/* TODO Add site wide styles */
* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

#homepage-header {
  font-size: 58px;
  line-height: 70px;
  letter-spacing: 0px;
  font-weight: 700;
  text-align: center;
}

#sub-header {
  margin: 0px;
  padding-bottom: 80px;
  border: 0px;
  font: inherit;
  vertical-align: top;
}

#logo {
  height: 50px;
  width: 50px;
}

.navbar-logo {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.nickname {
  color: red;
  text-align: center;
}
.spots {
  display: inline;
}
.spot-container {
  background: whitesmoke;
  /* border: .5px solid black; */
  padding: 5px;
  width: 315px;
  height: 300px;
  margin-bottom: 0.5em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  display: inline-grid;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0.1px rgba(0, 197, 133, 0.6);
}
.spot-image {
  max-width: 300px;
  max-height: 200px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* border: 0.1px solid black; */
  border-radius: 5px;
}

p {
  margin: 0 auto;
}
h3 {
  margin: 0 auto;
}

.user-bookings {
  display: flex;
}
