.profile-dropdown {
  position: absolute;
}
#top-nav-bar {
  background: rgba(121, 100, 122, 0.685);
  margin: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

#session-links {
    display: flex;
}